<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />
    <p>mixins</p>
    <Projects />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src
import Projects from "@/components/Projects.vue";
@Component({
  components: {
    HelloWorld,
    Projects
  }
})
export default class Home extends Vue {}
</script>
