<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch, Emit } from "vue-property-decorator";

// https://mariusschulz.com/articles/strict-property-initialization-in-typescript
interface List {
  name: string;
  age: number;
}

@Component
export default class HelloWorld extends Vue {
  // data
  private list: Array<List> = [{ name: "abc", age: 26 }];
  private firstName!: string;
  private lastName!: string;
  private yourName!: string;
  // props
  @Prop() private msg!: string;
  @Prop({ default: "Bob" }) readonly name!: string;
  @Prop({ required: true }) readonly age!: number;
  @Prop(String) readonly address!: string;
  @Prop({ required: true, type: String, default: "Freelancer" })
  readonly job!: string;

  @Prop({ type: Array, required: true }) colors!: Array<number>;

  // Computed properties

  //get
  get fullName(): string {
    return this.firstName + " " + this.lastName;
  }
  //set
  set fullName(newValue: string) {
    const names: string[] = newValue.split(" ");
    this.firstName = names[0];
    this.lastName = names[1];
  }

  //methods
  public clickMe(): void {
    this.addNum(4, 2);
  }

  public addNum(num1: number, num2: number): number {
    return num1 + num2;
  }

  // watchers
  @Watch("name")
  nameChanged(newVal: string) {
    this.yourName = newVal;
  }

  // @Watch("colors", {
  //   // This will let Vue know to look inside the array
  //   deep: true,
  //   // Will fire as soon as the component is created
  //   // https://viblo.asia/p/vai-dieu-chua-biet-ve-watcher-trong-vuejs-3Q75wGnG5Wb
  //   immediate: true
  // })
  // colorsChanged(newval: string, oldval: string) {}

  // emits
  private count!: number;

  @Emit()
  addToCount(n: number) {
    this.count += n;
  }
  @Emit("resetData")
  resetCount() {
    this.count = 0;
  }
  // use emit
  // <some-component add-to-count="someMethod" />
  // <some-component reset-data="someMethod" />

  // Lifecycle hooks
  // beforeCreate() {}

  // created() {}

  // beforeMount() {}

  // mounted() {}

  // beforeUpdate() {}

  // updated() {}

  // beforeDestroy() {}

  // destroyed() {}

  // Mixins
}

// @component({
//   name: 'HelloWorld'
// })
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
