<template>
  <div class="project-detail">{{ projectDetail }}</div>
</template>
<script lang="ts">
import { Component, Vue, Mixins } from "vue-property-decorator";
import ProjectMixin from "@/mixins/ProjectMixin";
@Component
export default class Project extends Mixins(ProjectMixin) {
  get projectDetail(): string {
    return this.projName + " " + "Preetish HS";
  }
}
</script>